.logo svg {
  fill: #fff;
}

html {
  background-color: #fff;
  font-family: "Libre Baskerville", serif;
}

.masthead {
  background-color: #1C2636;
  color: #fff;
}

.logo {
  text-align: center;
}


.logo-text {
  display: inline-block;
  width: 9em;
}

.nav {
  text-align: center;
}

.nav a,
header a {
  color: #fff;
  text-decoration: none;
  outline-color: inherit;
}

header a h1 {
  text-align: center;
  display: block;
}

.nav a:hover span,
.nav a:focus span {
  border-bottom-color: #fff;
}

.banner {
  min-height: 16em;
  color: #fff;
  background-color: inherit;
}

.card {
  min-height: 22em;
  border: .3rem solid #1C2636;
  border-radius: 4px;
}
/*
.btn-light {
background-color: #1C2636;
border-color: #1C2636;
color: #fff;
}

.btn-light:hover,
.btn-light:focus {
background-color: #B12423;
border-color: #522806;
}

.btn-banner {
border-color: #B12423;
color: #fff;
}

.btn-banner:hover,
.btn-banner:focus {
background-color: #B12423;
border-color: #fff;
color: #fff; */



td {
  border-bottom: 0;
  text-align: left;
  vertical-align: top;
  height: 8em;
}

th {
  text-align: center;
}

.text-center {

  text-align: center;
}

.bottom-space {

  padding-bottom: 15px
}



.footer {
  background-color: #1C2636;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .banner,
  .card {
    min-height: 20em;
  }

}

@media only screen and (min-width: 60em) {

  .max-length {
    margin-left: auto;
    margin-right: auto;
    max-width: 90em;
    width: 100%;
  }


}
